<%- partial.admissionHeader %>

<div class="jumbotron" aria-hidden="true">
  <img src="<%- env.STATIC_URL %>/about-jumbotron.jpg" alt="">
  <div class="container">
    <div class="jumbotron-title">
      <div>
        学校紹介<small>ABOUT</small>
      </div>
    </div>
  </div>
</div>

<nav aria-label="パンくずリスト" class="breadcrumb">
  <div class="container">
    <ul>
      <li>
        <a href="../">TOP</a>
      </li>
      <li class="ia-active" aria-current="page">
        学校紹介
      </li>
    </ul>
  </div>
</nav>

<main>
  <h1 class="visually-hidden">学校紹介</h1>

  <div class="container">
    <div class="row">
      <div class="col-lg-10">
        <div class="vision">
          <section class="vision-item is-motto">
            <h2>校訓</h2>
            <p>立ち止まる・考える・行動する</p>
          </section>

          <section class="vision-item">
            <h2>教育目標</h2>
            <ol class="ol is-large">
              <li>自ら考え、判断し、行動できる人間の育成</li>
              <li>個性の伸長と創造力豊かな人間の育成</li>
              <li>互いの人格を尊重し、自己主張と他者受容ができる人間の育成</li>
              <li>社会のニーズに対応し、使命感をもって社会貢献できる人間の育成</li>
              <li>常に目的意識を持ち、望ましい職業観・勤労観をもった人間の育成</li>
              <li>社会福祉の増進に寄与する創造的な能力と実践的な態度の育成</li>
            </ol>
          </section>

          <section class="vision-item">
            <h2>特色</h2>
            <ol class="ol is-large">
              <li>時代のニーズに応える単位制通信制高校</li>
              <li>生徒一人ひとりに寄り添う教育の実践</li>
              <li>通学コースと通信教育コースの2コース制</li>
              <li>キャリア教育の充実</li>
              <li>多彩な学校行事の設定</li>
            </ol>
          </section>
        </div>
      </div>
    </div>

    <div class="message">
      <section class="message-item is-first">
        <h2>理事長挨拶</h2>
        <div class="message-item-body">
          <div class="message-item-body-image">
            <img src="<%- env.STATIC_URL %>/about-message-01.jpg" alt="">
          </div>
          <p>
            <span class="is-header">地域に必要とされる通信制高校をめざして</span>
            <span class="is-main">
              社会が目まぐるしく変化する現代において、学校を取り巻く環境も日々変化しています。<br>
              とりわけ新型コロナウイルス感染症の蔓延による新しい生活様式を余儀なくされる中での学校運営はこれまでと同じというわけにはいきません。<br>
              現在、私ども英智学院は、校内のＩＣＴ化、オンライン化を初めとする施設設備の充実を進めております。通学コースでは、全教室にＷｉ-Ｆｉを設置し、オンラインを活用した学校行事を行います。通信教育コースにおいては、昨年度より全生徒に対し通信費を含め、タブレット端末の無償貸与を行い、スクーリング動画の配信やオンラインを活用した進路指導を行っています。<br>
              令和4年度は宮内本校、長岡駅前校、長岡駅東校ならびに三条校の４校舎体制で、新たな時代に即した、安全、安心して学べる学校を目指すとともに学校と家庭との連携はもちろん、さらに地域や関係機関との連携・協力を深め、地域に必要とされる通信制高校として３年後、５年後を見据えた学校運営を進めてまいります。
            </span>
            <span class="is-footer">
              <span class="is-footer-school">学校法人 英智学院</span>
              <span class="is-footer-position">理事長</span>
              <span class="is-footer-name">江口 信義</span>
            </span>
          </p>
        </div>
      </section>

      <section class="message-item">
        <h2>校長挨拶</h2>
        <div class="message-item-body">
          <div class="message-item-body-image">
            <img src="<%- env.STATIC_URL %>/about-message-02.jpg" alt="">
          </div>
          <p>
            <span class="is-header">
              社会のニーズに対応し、きめ細やかな教育の実践をめざします  
            </span>
            <span class="is-main">
              時代とともに社会の情勢が変わっていく中で、当校は日頃の学習指導や進路指導など教育活動全般をとおして、自己のあり方や社会に生きていく力を涵養していきます。<br>
              当校では、独自の学習プログラムを採用し、基礎・基本を重視しながら、一人ひとりが効率よく学習内容を習得することができます。また「通学コース」と「通信教育コース」の２コース制を設置し、自分に合ったコースを選択して、高校の各教科・科目を履修できます。同時に、将来の希望進路の実現に向けてキャリア教育を中心に据え、職業観や勤労観を養い社会の一員として求められる資質の涵養を支援していきます。<br>
              高校生の本分としての意識を持ち、日頃から各教科・科目の学習に加え、学校行事、部活動、ボランティア活動、地域連携活動など多彩で有意義な高校生活を送っていただきたいと思います。様々な学校での生活経験は、みなさんの希望や目標の実現向けて可能性の扉を開いていけるものと信じております。<br>
              みなさんとともに学び、ともに成長していきましょう。当校では、社会のニーズに対応し、地域の方々に支えられ、愛され、地域社会に貢献できる人材の育成に努めてまいります。
            </span>
            <span class="is-footer">
              <span class="is-footer-school">学校法人 英智学院</span>
              <span class="is-footer-position">校長</span>
              <span class="is-footer-name">山岸 耕一</span>
            </span>
          </p>
        </div>
      </section>
    </div>
  </div>

  <div class="message is-advisor">
    <div class="container">
      <section class="message-item is-first">
        <h2>スクールアドバイザー挨拶</h2>
        <div class="message-item-body">
          <div class="message-item-body-image">
            <img src="<%- env.STATIC_URL %>/about-message-03.jpg" alt="">
          </div>
          <p>
            <span class="is-main">
              校訓の「立ち止まる・考える・行動する」を踏まえたきめ細やかな支援と教科指導により、長岡英智高等学校のみな さんが生きる力の原動力を身につけ、自分自身の生き方をきちんと考えられる人間として、一日・一分・一秒を無駄にせず、前向きに進んでいただきたいと願っています。
            </span>

            <span class="is-name">
              中村 真衣
            </span>
            <span class="is-university">
              ( 新潟県長岡市出身 / 中央大学卒 )
            </span>

            <span class="is-main">
              学校法人英智学院スクールアドバイザー<br>
              2000年シドニーオリンピック<br>
              競泳100m背泳ぎ「銀メダリスト」<br>
            </span>

            <span class="is-header">プロフィール</span>
            <span class="is-main">
              4才で水泳をはじめ、中学3年生の時100m背泳ぎで日本選手権大会初優勝。<br>
              1996年高校2年生で出場したアトランタ五輪で同種目4位。<br>
              2000年大学3年生で出場したシドニーオリンピックで「銀メダル」を獲得。<br>
              2002年に我が国水泳界初となるプロスイマーに転向。<br>
              大学卒業後、郷里長岡で2004年のアテネ五輪を目指すも惜しくも落選。<br>
              同年秋に新潟中越地震で被災し数々の困難に直面するも不屈の精神力と持ち前の明るさで困難を跳ねのけ2005年、2007年の世界選手権の日本代表の座を獲得。<br>
              オリンピック2回・世界選手権5回・国体10回の輝かしい戦績を残し2007年の春、惜しまれながらも現役を引退。<br>
              引退後はスイミングアドバイザーとして、幼少児・学童~成人至るまで幅広い層を対象に水泳を指導。<br>
              「水泳を通じて選手として人間としても大きく成長することが出来ました」と自身の選手としての生き様にエピソードを交えた講演会を積極的に展開。<br>
              メディア関連では新聞・雑誌に多く掲載、テレビ・ラジオではスポーツ関連番組を中心に出演されています。
            </span>
          </p>
        </div>
      </section>
    </div>
  </div>

  <div class="container">
    <section class="about">
      <h2 class="heading is-sub">学校概要</h2>
      <dl>
        <dt>法人名</dt>
        <dd>学校法人英智学院</dd>
            
        <dt>学校名</dt>
        <dd>長岡英智高等学校</dd>
            
        <dt>所在地</dt>
        <dd>
          <div class="address">
            <div class="address-item is-first">
              <div class="address-item-text">
                <span class="is-course">【通学コース】</span> 宮内本校<br>
                〒940-1154 新潟県長岡市宮栄 3-16-14<br>
                TEL: 0258-31-6771 FAX: 0258-31-6772
              </div>
              <div class="row row-cols-1 row-cols-lg-2">
                <div class="col">
                  <img src="<%- env.STATIC_URL %>/about-address-01.jpg" alt="">
                </div>
                <div class="col">
                  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3168.532868403275!2d138.8381966505592!3d37.424514739908105!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x5ff5a8bfab64ddb9%3A0x497e940f2a9212d4!2z44CSOTQwLTExNTQg5paw5r2f55yM6ZW35bKh5biC5a6u5qCE77yT5LiB55uu77yR77yW4oiS77yR77yU!5e0!3m2!1sja!2sjp!4v1657758525821!5m2!1sja!2sjp" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
              </div>
            </div>
            <div class="address-item">
              <div class="address-item-text">
                <span class="is-course">【通信教育コース】</span> 長岡駅前校<br>
                〒940-0064 新潟県長岡市殿町1丁目5番1号<br>
                TEL: 0258-38-5500 FAX: 0258-38-5511
              </div>
              <div class="row row-cols-1 row-cols-lg-2">
                <div class="col">
                  <img src="<%- env.STATIC_URL %>/about-address-02.jpg" alt="">
                </div>
                <div class="col">
                  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3167.6735434537977!2d138.84930415055965!3d37.444816138748884!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x5ff5a856a8a1db1d%3A0x4548520b14d266f3!2z44CSOTQwLTAwNjQg5paw5r2f55yM6ZW35bKh5biC5q6_55S677yR5LiB55uu77yV4oiS77yR!5e0!3m2!1sja!2sjp!4v1657758832760!5m2!1sja!2sjp" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
              </div>
            </div>
            <div class="address-item">
              <div class="address-item-text">
                <span class="is-course">【通信教育コース】</span> 長岡駅東校<br>
                〒940-0048 新潟県長岡市台町2丁目1番11号<br>
                TEL: 0258-89-8228 FAX: 0258-89-8238
              </div>
              <div class="row row-cols-1 row-cols-lg-2">
                <div class="col">
                  <img src="<%- env.STATIC_URL %>/about-address-03.jpg" alt="">
                </div>
                <div class="col">
                  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3167.6318187337797!2d138.8533963505598!3d37.44580163869266!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x5ff5a8519e5b4eb7%3A0x3760be73f8eccaba!2z44CSOTQwLTAwNDgg5paw5r2f55yM6ZW35bKh5biC5Y-w55S677yS5LiB55uu77yR4oiS77yR77yR!5e0!3m2!1sja!2sjp!4v1657758876961!5m2!1sja!2sjp" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
              </div>
            </div>
            <div class="address-item">
              <div class="address-item-text">
                <span class="is-course">【通信教育コース】</span> 三条校<br>
                〒955-0862 新潟県三条市南新保15番7号<br>
                TEL: 0258-64-8355 FAX: 0258-64-8022
              </div>
              <div class="row row-cols-1 row-cols-lg-2">
                <div class="col">
                  <img src="<%- env.STATIC_URL %>/about-address-04.jpg" alt="">
                </div>
                <div class="col">
                  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3160.234848274303!2d138.95794785056486!3d37.62016322871414!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x5ff4e261b5d6be59%3A0x476ddae0ba4c3c52!2z44CSOTU1LTA4NjIg5paw5r2f55yM5LiJ5p2h5biC5Y2X5paw5L-d77yR77yV4oiS77yX!5e0!3m2!1sja!2sjp!4v1657758896518!5m2!1sja!2sjp" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
              </div>
            </div>
          </div>
        </dd>

        <dt>創立</dt>
        <dd>2005年10月30日</dd>
            
        <dt>理事長</dt>
        <dd>江口 信義</dd>
            
        <dt>校長</dt>
        <dd>山岸 耕一</dd>
            
        <dt>生徒数</dt>
        <dd>487名（2022年5月時点）</dd>
            
        <dt>教職員数</dt>
        <dd>34名（2022年4月時点）</dd>
      </dl>
    </section>

    <section class="history">
      <h2 class="heading is-sub">沿革</h2>
      <table>
        <thead class="visually-hidden">
          <tr>
            <th>年月</th>
            <th>出来事</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>2006 年 4 月</td>
            <td>英智ウィル学院高等学校（単位制による通信制課程普通科）開校</td>
          </tr>
          <tr>
            <td>2007 年 4 月</td>
            <td>通信制介護福祉士専攻科開設</td>
          </tr>
          <tr>
            <td>2013 年 3 月</td>
            <td>通信制介護福祉士専攻科廃止</td>
          </tr>
          <tr>
            <td>2013 年 4 月</td>
            <td>校名を長岡英智高等学校と改称する、特別編成コース開設</td>
          </tr>
          <tr>
            <td>2013 年 11 月</td>
            <td>通信教育コース開設</td>
          </tr>
          <tr>
            <td>2013 年 12 月</td>
            <td>長岡駅前学習センター開設</td>
          </tr>
          <tr>
            <td>2014 年 11 月</td>
            <td>上越学習センター開設</td>
          </tr>
          <tr>
            <td>2015 年 11 月</td>
            <td>創立10周年記念式典、同窓会総会（長岡リリックホール）</td>
          </tr>
          <tr>
            <td>2016 年 2 月</td>
            <td>三条学習センター開設</td>
          </tr>
          <tr>
            <td>2017 年 3 月</td>
            <td>特別編成コース廃止</td>
          </tr>
          <tr>
            <td>2019 年 9 月</td>
            <td>上越学習センター閉鎖</td>
          </tr>
          <tr>
            <td>2019 年 10 月</td>
            <td>長岡駅東学習センター開設</td>
          </tr>
          <tr>
            <td>2020 年 4 月</td>
            <td>キャリアデザイン専攻科開設</td>
          </tr>
          <tr>
            <td>2022 年 4 月</td>
            <td>通信教育コース各学習センターを長岡駅前校、長岡駅東校、三条校に改称する</td>
          </tr>
        </tbody>
      </table>
    </section>
  </div>

</main>

<%- partial.admissionFooter %>
