<%- partial.admissionHeader %>

<div class="jumbotron" aria-hidden="true">
  <img src="<%= env.STATIC_URL %>/img/courses-correspondence-jumbotron.jpg" alt="">
  <div class="container">
    <div class="jumbotron-title">
      <div>
        コース紹介<small>COURSE</small>
      </div>
    </div>
    <div class="jumbotron-subtitle">
      通信教育コース
    </div>
  </div>
</div>

<nav aria-label="パンくずリスト" class="breadcrumb">
  <div class="container">
    <ul>
      <li>
        <a href="/">TOP</a>
      </li>
      <li class="ia-active" aria-current="page">
        <a href="/courses/">コース紹介</a>
      </li>
      <li class="ia-active" aria-current="page">
        通信教育コース
      </li>
    </ul>
  </div>
</nav>

<main>
  <h1 class="visually-hidden">通信教育コースについて</h1>

  <div class="container">
    <section class="feature">
      <h2 class="heading">特色<small>FEATURE</small></h2>
      <div class="row justify-content-center">
        <div class="col-12 col-md-10 col-lg-4">
          <section class="feature-item is-first">
            <img src="<%= env.STATIC_URL %>/img/courses-correspondence-feature-01.jpg" alt="転入学時期。前期は4月から7月まで。後期は10月から1月まで。原則として1日に転入学を受け入れています。">
            <h3>
              <b>いつでも</b><br>
              転入学できる
            </h3>
            <p>
              新たな気持ちでスタートしたいと考えている人、環境を変えて高校卒業を目指したい人。いつでも転入学できるから、転入学の時期に合わせて、無理のない履修計画で卒業を目指せます。
            </p>
          </section>
        </div>
        <div class="col-12 col-md-10 col-lg-4">
          <section class="feature-item">
            <img src="<%= env.STATIC_URL %>/img/courses-correspondence-feature-02.jpg" alt="">
            <h3>
              <b>生活スタイル</b>に合わせられる<br>
              <b>学習環境</b>
            </h3>
            <p>
              自宅学習を中心にしたい、校舎へ通って学習を進めたいなど自分に合う学習のスタイルは人それぞれ。自分に適した学習環境を選ぶことができます。
            </p>
            <section>
              <h4>通信教育コース各校舎開講時間</h4>
              <p>
                月曜日〜金曜日 9:00〜17:00<br>
                朝からでも、午後からでも学びたいときに来校可能です。
              </p>
            </section>
          </section>
        </div>
        <div class="col-12 col-md-10 col-lg-4">
          <section class="feature-item">
            <img src="<%= env.STATIC_URL %>/img/courses-correspondence-feature-03.jpg" alt="">
            <h3>
              レポート問題に<b>準拠</b>した<br>
              <b>スクーリング</b>の実施
            </h3>
            <p>
              各レポートに対応したスクーリングを行います。自学自習での完成が難しくてもスクーリングに出席することで、解説も聞きながら、レポートを完成させることができます。
            </p>
          </section>
        </div>
      </div>
    </section>

    <section class="tablet">
      <div class="row">
        <div class="col-12 col-md-8">
          <h2>学校と家庭、生徒を繋ぐ<b>「タブレット学習 」</b></h2>
          <ol class="ol">
            <li>
              タブレット端末は在学中無償貸与。いつでも、どこでも、レポート提出ができるように、通信費は当校が負担します。自宅にWi-Fi環境がなくても使用することできます。
            </li>
            <li>
              学習に役立つ便利なアプリは、インストール済。学校からの連絡や予定の確認もタブ レットで配信します。
            </li>
            <li>
              未成年にとって有害なサイトは観覧できないようにフィルタリング済み。また学習に必要のないアプリは、インストールできないように設定されています。
            </li>
          </ol>
        </div>
        <div class="col-12 col-md-4">
          <img src="<%= env.STATIC_URL %>/img/courses-correspondence-tablet.jpg" alt="">
        </div>
      </div>
    </section>

    <section class="credit">
      <div class="row justify-content-center">
        <div class="col-12 col-xl-5 col-lg-12">
          <h2><b>単位制</b>とは</h2>
          <p class="is-text">
            単位制とは、3年間で単位を積み上げて 74 単位以上 (必履修等条件あり)修得で卒業できます。転入の場合、前籍校での修得単位と長岡英智高校での修得単位の合計が74単位以上になるようにカリキュラムを組むことができます。<br>
            (年間修得可能単位:最大 36 単位)
          </p>
        </div>
        <div class="col-12 col-sm-8 col-lg-5 col-xl-3">
          <section class="example">
            <h3>新入学 修得単位(例)</h3>
            <table>
              <thead class="visually-hidden">
                <tr>
                  <th>時点</th>
                  <th>単位</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="is-time">1年次</td>
                  <td class="is-credit">25単位</td>
                </tr>
                <tr aria-hidden="true">
                  <td></td>
                  <td class="is-symbol">＋</td>
                </tr>
                <tr>
                  <td class="is-time">2年次</td>
                  <td class="is-credit">25単位</td>
                </tr>
                <tr aria-hidden="true">
                  <td></td>
                  <td class="is-symbol">＋</td>
                </tr>
                <tr>
                  <td class="is-time">3年次</td>
                  <td class="is-credit">24単位</td>
                </tr>
                <tr aria-hidden="true">
                  <td></td>
                  <td class="is-symbol">↓</td>
                </tr>
                <tr>
                  <td class="is-time">卒業</td>
                  <td class="is-credit">74単位</td>
                </tr>
              </tbody>
            </table>
          </section>
        </div>
        <div class="col-12 col-sm-8 col-lg-7 col-xl-4">
          <section class="example">
            <h3>転入学修得単位(例)</h3>
            <table>
              <thead class="visually-hidden">
                <tr>
                  <th>時点</th>
                  <th>単位</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="is-time">1年次</td>
                  <td class="is-credit">(前籍校修得)25単位</td>
                </tr>
                <tr aria-hidden="true">
                  <td></td>
                  <td class="is-symbol">＋</td>
                </tr>
                <tr>
                  <td class="is-time">2年次</td>
                  <td class="is-credit">(前籍校修得)25単位/10単位</td>
                </tr>
                <tr aria-hidden="true">
                  <td></td>
                  <td class="is-symbol">＋</td>
                </tr>
                <tr>
                  <td class="is-time">3年次</td>
                  <td class="is-credit">24単位</td>
                </tr>
                <tr aria-hidden="true">
                  <td></td>
                  <td class="is-symbol">↓</td>
                </tr>
                <tr>
                  <td class="is-time">卒業</td>
                  <td class="is-credit">74単位</td>
                </tr>
              </tbody>
            </table>
          </section>
        </div>
        <div class="col-xl-7 offset-xl-5">
          <p class="is-image">
            新・編入は4月・10月のみ可能。<br>
            各種検定および高等学校卒業認定試験の合格科目も一定の条件下で卒業単位に加えることができます。
          </p>
        </div>
      </div>
    </section>
  </div>

  <section class="learn">
    <div class="container">
      <h2>通信教育コースの学び方</h2>
      <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">
        <div class="col">
          <section>
            <h3>レポート【添削指導】</h3>
            <p>
              教科書に沿った内容で学習を進めていきます。自学自習や各校舎で開催されるスクーリングに参加することでレポートを完成させます。
            </p>
          </section>
        </div>
        <div class="col">
          <section>
            <h3>スクーリング【面接指導】</h3>
            <p>
              所属する校舎で、履修している各科目の規定時間数のスクーリング(授業)に出席します。レポートの内容に合わせた授業を実施しています。
            </p>
          </section>
        </div>
        <div class="col">
          <section>
            <h3>単位認定試験</h3>
            <p>
              前期と後期に一回ずつ所属する各校舎で単位認定試験を実施します。学習の成果を確認し、この試験に合格すると単位が認定されます。
            </p>
          </section>
        </div>
      </div>
    </div>
  </section>

  <div class="container">
    <section class="activity">
      <div class="row">
        <div class="col-12 col-lg-4">
          <h2 class="heading">特別活動<small>ACTIVITIES</small></h2>
          <p class="is-text">
            社会性や個性をはぐくみ、心身の成長を促すことを目的とした活動です。今回は様々な活動の一部を紹介します。
          </p>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
          <section class="is-first">
            <img src="<%= env.STATIC_URL %>/img/courses-correspondence-activity-01.jpg" alt="">
            <h3>大学出張講座</h3>
            <p class="is-image">大学の先生を招いて講義を行います。</p>
          </section>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
          <section>
            <img src="<%= env.STATIC_URL %>/img/courses-correspondence-activity-02.jpg" alt="">
            <h3>地域清掃活動</h3>
            <p class="is-image">各校舎周辺の清掃活動を行います。</p>
          </section>
        </div>
      </div>
    </section>
  </div>

  <section class="voice">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12">
          <div class="voice-flex">
            <div class="voice-flex-text">
              <h2><span class="visually-hidden">生徒の声</span><small>Student voice</small></h2>
              <p>
                勉強についていけるか不安の人は多いと思いますが、多くの教科が中学校の振り返りから始まるため、安心して授業を受けることができます。また将来について考えるきっかけとなる授業もあり、勉強だけでなく進路に対する不安も解消しながら学校生活を送ることができます。そして校外で行う特別活動や体育の授業などもありますが、集団行動でも自分のペースを尊重してもらえるので無理なく楽しむことができるのが通信教育コースの特徴です。<br>
                <br>
                通信教育コース 3年生<br>
                M.T さん
              </p>
            </div>
            <div class="voice-flex-image">
              <img src="<%= env.STATIC_URL %>/img/courses-correspondence-voice.jpg" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div class="container">
    <section class="fee">
      <h2 class="h2">学納金（通信教育コース）令和５年度より</h2>
      <div class="fee-table">
        <table>
        <thead>
          <tr>
            <th colspan="2">区分</th>
            <th class="is-amount">金額</th>
            <th class="is-season">納入時期</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td colspan="2">入学金</td>
            <td>30,000円</td>
            <td>入学手続き時</td>
          </tr>
          <tr>
            <td colspan="2">授業料</td>
            <td>１単位 10,500円</td>
            <td rowspan="3">4 月・7 月・10 月・1 月（3ヶ月分まとめて納入）</td>
          </tr>
          <tr>
            <td rowspan="2" class="is-align-top">諸費</td>
            <td class="is-title">施設設備費</td>
            <td>年額48,000円<br>（1ヶ月あたり4,000円）</td>
          </tr>
          <tr>
            <td>教育充実費</td>
            <td>年額72,000円<br>（1ヶ月あたり6,000円）</td>
          </tr>
          <tr>
            <td class="is-align-top" rowspan="2">その他</td>
            <td>PTA会費</td>
            <td>年額3,000円<br>（半期あたり1,500円）</td>
            <td rowspan="2">4 月・10 月</td>
          </tr>
          <tr>
            <td>生徒会費</td>
            <td>年額3,000円<br>（半期あたり1,500円）</td>
          </tr>
        </tbody>
      </table>
      </div>
    </section>

    <section class="subsidy">
      <h2 class="h2">補助金等</h2>
      <section class="subsidy-item is-first">
        <h3 class="h3">高等学校等就学支援金制度</h3>
        <table>
          <thead>
            <tr>
              <th>算出額 ※1</th>
              <th>支給額</th>
              <th>世帯の年収見込み ※2</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>154,000円未満</td>
              <td>年額297,000円<br class="d-md-none">（1ヶ月あたり24,750円）</td>
              <td>年収590万円未満</td>
            </tr>
            <tr>
              <td>154,500円以上<br class="d-md-none">304,200円未満</td>
              <td>年額118,800円<br class="d-md-none">（1ヶ月あたり9,900円）</td>
              <td>年収590万円以上<br class="d-md-none">910万円未満</td>
            </tr>
            <tr>
              <td>304,200円以上</td>
              <td>対象外</td>
              <td>年収910万円以上</td>
            </tr>
          </tbody>
        </table>
        <p class="is-memo">
          ※1　就学支援金の支給区分は、次の算定式の結果（保護者等の合算）により、決定します。<br>
          【算定式】（市町村民税）課税標準額×6％－（市町村民税）調整控除の額<br>
          （政令指定都市の場合は、「調整控除の額」に3/4を乗じて計算）<br>
          <br>
          ※2　年収目安は、両親・高校生・中学生の4人家族で、両親の一方が働いている場合の目安であり、家族の人数や年齢、働いている人の人数等で、実際に対象となる年収は変わるのでご注意ください。<br>
          <br>
          ※就学支援金には支給限度月数（通信制課程48ヶ月）および支給限度単位数（卒業まで最大74単位）があります。<br>
          転入・編入等で前籍校がある場合、支給できる月数や単位数が減る可能性があります。
        </p>
      </section>
      <section class="subsidy-item">
        <h3 class="h3">新潟県学費軽減事業補助金</h3>
        <p>
          新潟県では、県内の私立高校に在籍する生徒の保護者であって、経済的理由により学費の支払いが困難な方の負担を軽くするため、一定の要件により入学金、授業料及び施設整備費等の全額又は一部を補助する学費軽減制度を実施しています。
        </p>
      </section>
      <section class="subsidy-item">
        <h3 class="h3">新潟県私立高等学校等奨学のための給付金</h3>
        <p class="visually-hidden">本文はありません。</p>
      </section>
      <section class="subsidy-item">
        <h3 class="h3">市町村補助金制度（居住地による）</h3>
        <p class="visually-hidden">本文はありません。</p>
      </section>
    </section>

    <section class="simulation">
      <h2 class="h2">学納金納入額シュミレーション（年額）</h2>
      <div class="simulation-table">
        <table>
          <caption>年間28単位履修の場合</caption>
          <thead>
            <tr>
              <th>就学支援金支給区分</th>
              <th>加算額支給</th>
              <th>基準額のみ支給</th>
              <th>対象外</th>
            </tr>
            <tr>
              <th>算定式の結果 ※1</th>
              <th>154,500円未満</th>
              <th>154,500円以上<br>304,200円未満</th>
              <th>304,200円以上</th>
            </tr>
            <tr>
              <th>年収の目安 ※2</th>
              <th>590万円程度未満</th>
              <th>590万円程度以上<br>910万円程度未満</th>
              <th>910万円程度以上</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="is-align-left">入学金</td>
              <td>30,000円</td>
              <td>30,000円</td>
              <td>30,000円</td>
            </tr>
            <tr>
              <td class="is-align-left">授業料<br>（年間28単位履修の場合）</td>
              <td>294,000円</td>
              <td>294,000円</td>
              <td>294,000円</td>
            </tr>
            <tr>
              <td class="is-align-left">施設設備費</td>
              <td>48,000円</td>
              <td>48,000円</td>
              <td>48,000円</td>
            </tr>
            <tr>
              <td class="is-align-left">教育充実費</td>
              <td>72,000円</td>
              <td>72,000円</td>
              <td>72,000円</td>
            </tr>
            <tr>
              <td class="is-align-left">PTA会費</td>
              <td>3,000円</td>
              <td>3,000円</td>
              <td>3,000円</td>
            </tr>
            <tr>
              <td class="is-align-left">生徒会費</td>
              <td>3,000円</td>
              <td>3,000円</td>
              <td>3,000円</td>
            </tr>
            <tr>
              <td class="is-align-left">就学支援金</td>
              <td>△ 297,000円</td>
              <td>△ 118,800円</td>
              <td>0円</td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <td class="is-align-left">実質負担額</td>
              <td>156,000円</td>
              <td>315,264円</td>
              <td>450,000円</td>
            </tr>
          </tfoot>
        </table>
      </div>
      <p>
        ※1　就学支援金の支給区分は、次の算定式の結果（保護者等の合算）により、決定します。<br>
        【算定式】（市町村民税）課税標準額×6％－（市町村民税）調整控除の額<br>
        （政令指定都市の場合は、「調整控除の額」に3/4を乗じて計算）<br>
        <br>
        ※2　年収目安は、両親・高校生・中学生の4人家族で、両親の一方が働いている場合の目安であり、家族の人数や年齢、働いている人の人数等で、実際に対象となる年収は変わるのでご注意ください。
      </p>
    </section>

    <section class="curriculum">
      <h2 class="heading">カリキュラム<small>CURRICULUM</small></h2>
      <section class="curriculum-subject">
        <h3 class="heading is-sub">令和 5 年度カリキュラム(予定)</h3>
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">
          <div class="col">
            <section class="curriculum-subject-item">
              <h4>国語</h4>
              <ul>
                <li>現代の国語(2単位)</li>
                <li>言語文化(2単位)</li>
                <li>現代文B(4単位)</li>
                <li>古典B(4単位)</li>
              </ul>
            </section>
          </div>
          <div class="col">
            <section class="curriculum-subject-item">
              <h4>地理歴史</h4>
              <ul>
                <li>世界史B(4単位)</li>
                <li>日本史B(4単位)</li>
                <li>地理B(4単位)</li>
              </ul>
            </section>
          </div>
          <div class="col">
            <section class="curriculum-subject-item">
              <h4>公民</h4>
              <ul>
                <li>公共(2単位)</li>
                <li>倫理(2単位)</li>
                <li>政治・経済(2単位)</li>
              </ul>
            </section>
          </div>
          <div class="col">
            <section class="curriculum-subject-item">
              <h4>数学</h4>
              <ul>
                <li>数学I(4単位)</li>
                <li>数学II(4単位)</li>
                <li>数学A(2単位)</li>
              </ul>
            </section>
          </div>
          <div class="col">
            <section class="curriculum-subject-item">
              <h4>理科</h4>
              <ul>
                <li>科学と人間生活(2単位)</li>
                <li>化学基礎(2単位)</li>
                <li>生物基礎(2単位)</li>
              </ul>
            </section>
          </div>
          <div class="col">
            <section class="curriculum-subject-item">
              <h4>保健体育</h4>
              <ul>
                <li>体育(8単位)</li>
                <li>保健(2単位)</li>
              </ul>
            </section>
          </div>
          <div class="col">
            <section class="curriculum-subject-item">
              <h4>芸術</h4>
              <ul>
                <li>書道I(2単位)</li>
              </ul>
            </section>
          </div>
          <div class="col">
            <section class="curriculum-subject-item">
              <h4>外国語</h4>
              <ul>
                <li>英語コミュニケーションI(4単位)</li>
                <li>英語表現I(2単位)</li>
              </ul>
            </section>
          </div>
          <div class="col">
            <section class="curriculum-subject-item">
              <h4>家庭</h4>
              <ul>
                <li>家庭総合(4単位)</li>
              </ul>
            </section>
          </div>
          <div class="col">
            <section class="curriculum-subject-item">
              <h4>情報</h4>
              <ul>
                <li>情報I(2単位)</li>
              </ul>
            </section>
          </div>
          <div class="col">
            <section class="curriculum-subject-item">
              <h4>その他の教科</h4>
              <ul>
                <li>総合的な探求の時間(6単位)</li>
              </ul>
            </section>
          </div>
        </div>
      </section>
      <section class="curriculum-requirement">
        <h3 class="heading is-sub">卒業要件</h3>
        <ul class="ul">
          <li>前在籍校の在籍年数を含め、3年以上在籍</li>
          <li>前在籍校の修得単位(本校がみとめたもの)を含め74単位以上修得していること</li>
          <li>必履修科目の単位を修得していること</li>
          <li>特別活動に30単位時間以上参加</li>
          <li>履修単位は半期ごとに認定</li>
        </ul>
      </section>
    </section>
  </div>

</main>

<%- partial.admissionFooter %>
