<%- include('partial/header') %>

<div class="hero">
  <div class="hero-image">
    <img src="<%- env.STATIC_URL + '/img/home/main.png' %>" alt="">
  </div>

  <div class="hero-text">
    <p class="is-admission">
      <span class="is-main">Re-START !</span>
      <span class="is-sub">〜夢の実現に向けて〜</span>
    </p>
  </div>

  <div class="hero-link">
    <a href="/admission/#open-school">
      <span class="is-sub">オープンスクール</span>
      <span class="is-main">申し込み受付中</span>
    </a>
  </div>
</div>

<main>
  <h1 class="visually-hidden">長岡英智高等学校</h1>

  <section class="course container">
    <h2 class="heading">
      コース紹介<small>COURSE</small>
    </h2>

    <section class="course-item is-first">
      <div class="row is-course-item">
        <div class="col-6">
          <div class="course-item-image">
            <img src="<%- env.STATIC_URL + '/img/home/course-commute.png' %>" alt="">
          </div>
        </div>
        <div class="col-6">
          <div class="course-item-text">
            <h3>通学コース</h3>
            <p>
              週4日登校。<br>
              生活リズムを整えながら、ゆとりのあるスクールライフ
            </p>
            <div class="course-item-text-link">
              <a href="/courses/commute/">
                詳しく見る
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="course-item">
      <div class="row is-course-item">
        <div class="col-6">
          <div class="course-item-image">
            <img src="<%- env.STATIC_URL + '/img/home/course-correspondence.png' %>" alt="">
          </div>
        </div>
        <div class="col-6">
          <div class="course-item-text">
            <h3>通信教育コース</h3>
            <p>
              学ぶ場所も学ぶ時間も自分で選ぶ。<br>
              自由な時間の使い方で高校卒業を目指す。
            </p>
            <div class="course-item-text-link">
              <a href="/courses/correspondence/">
                詳しく見る
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>
    </div>
  </section>

  <section class="container news">
    <h2 class="heading">
      新着情報<small>NEWS</small>
    </h2>
    <ul>
      <% for (const news of newses) { %>
        <li>
          <span class="is-date">2022.07.01</span>
          <a href="/news/1/">
            新着情報のタイトルが入ります
          </a>
        </li>
      <% } %>
    </ul>
  </section>

  <section class="gallery">
    <div class="container">
      <h2 class="heading is-gallery">
        ギャラリー<small>GALLERY</small>
      </h2>
      <ul>
        <li>
          <a href="#" class="is-active">通学コース</a>
        </li><li class="inline-block">
          <a href="#">通信教育コース</a>
        </li>
      </ul>
      <section class="gallery-item is-first">
        <h3>宮内本校</h3>
        <div class="row is-gallery-item">
          <% for (let i = 1; i <= 9; i += 1) { %>
            <div class="col-4">
              <figure>
                <img src="<%- env.STATIC_URL + '/img/home/gallery.png' %>" alt="">
                <figcaption>外観</figcaption>
              </figure>
            </div>
          <% } %>
        </div>
      </section>
    </div>
  </section>
</main>

<%- include('partial/footer') %>
